@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover {
  @apply hover:text-primaryOrange;
}

.countDown-wrapper {
  @apply flex flex-col rounded-3xl;
}

.countDown-number {
  @apply grid place-content-center rounded-t-md text-white text-3xl bg-primaryOrange py-3 px-2 w-full h-2/3;
}

.countDown-text {
  @apply text-center text-sm rounded-b-md bg-white p-2 h-auto w-full;
}

.numberStat {
  @apply max-w-md mx-auto space-y-2 p-4 border-b-2 border-primaryOrange text-xl text-lightOrange text-center font-serif font-semibold md:max-w-none md:mx-0 md:border-b-0 md:border-r-4;
}

.label_form {
  @apply block text-gray-900 mb-1 font-medium;
}

.input_form {
  @apply block text-lg text-gray-800 font-medium outline-none border-b-2 border-gray-700 bg-gray-100 w-full font-sans py-1 pl-2 focus:border-primaryOrange;
}

.input_select {
  @apply block w-full bg-gray-50 py-2 rounded-sm border border-gray-300 focus:border-2 focus:border-primaryOrange focus-visible:border-primaryOrange;
}

.infinite-slide {
  animation: infiniteSlide 10s alternate infinite;
}

.dot {
  @apply block size-3 bg-gray-50 cursor-pointer rounded-full transition-all;
}

.active-dot {
  @apply w-6 bg-black rounded-xl;
}

@keyframes infiniteSlide {
  0% {
    @apply bg-[url('../images/hero-bg.png')];
  }
  50% {
    @apply bg-[url('../images/hero-bg-2.png')];
  }
  100% {
    @apply bg-[url('../images/hero-bg.png')];
  }
}

.nav_sticky {
  @apply fixed top-0 w-full;
  animation: fadeInDown 0.7s ease-out;
}

@keyframes fadeInDown {
  0% {
    @apply opacity-0 -translate-y-[96px];
  }
  100% {
    @apply opacity-100 translate-y-0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
