---
import MainLayout from "@/layouts/MainLayout.astro";
import {AccordionDemo} from "../components/accordionSection.tsx";
import {Speakers} from "../components/speackers";

---

<MainLayout>
  <AccordionDemo client:load/>
  <section class="container mx-auto">
    <Speakers/>
  </section>
 
</MainLayout>
