<section class="py-4 bg-white" data-container>
  <div class="container border-b-4 border-lightOrange">
    <div
      class="space-y-4 pb-5 md:grid md:space-y-0 md:grid-cols-3 md:justify-around"
    >
      <div class="numberStat">
        <span class="text-5xl" data-count="20">20+</span>
        <h4 class="text-primaryOrange">Conférences</h4>
      </div>

      <div class="numberStat">
        <span class="text-5xl" data-count="20">20+</span>
        <h4 class="text-primaryOrange">Exposants</h4>
      </div>

      <div class="numberStat border-none">
        <span class="text-5xl" data-count="50">50+</span>
        <h4 class="text-primaryOrange">Développeurs</h4>
      </div>
    </div>
  </div>
</section>

<script>
  const counters = document.querySelectorAll("[data-container] span");
  const container = document.querySelector("[data-container");

  let activated = false;

  window.addEventListener("scroll", function () {
    if (
      scrollY > container.offsetTop - container.offsetHeight - 200 &&
      activated === false
    ) {
      counters.forEach((counter) => {
        counter.innerText = 0;
        let count = 0;

        function updateCount() {
          const target = parseInt(counter.dataset.count);

          if (count < target) {
            count++;
            counter.innerText = count;
            setTimeout(updateCount, 20);
          } else {
            counter.innerText = target + "+";
          }
        }
        updateCount();
        activated = true;
      });
    } else if (
      scrollY < container.offsetTop - container.offsetHeight - 500 ||
      (scrollY === 0 && activated === true)
    ) {
      counters.forEach((counter) => {
        counter.innerText = 0;
      });

      activated = false;
    }
  });
</script>
