---
import "@/styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="" />
    <title>Astro</title>
  </head>
  <body>
        <header class="bg-red-500">Lorem ipsum dolor,</header>
        <main>
            <slot/>
        </main>
        <footer class="bg-gray-600">Lorem ipsum dolor,</footer>
  </body>
</html>
