---
import "@/styles/index.css";
<<<<<<< HEAD
import { AlignJustify } from "lucide-react";
import { X } from "lucide-react";
import { Image } from "astro:assets";
import logo from "../images/possacodelogo.svg";
import Navbar from "@/components/ui/Navbar";
=======
//const generator = Astro.generator;
import { Image } from "astro:assets";
import logo from "../images/possacodelogo.svg"
import {AlignJustify} from "lucide-react"

>>>>>>> feature/accordionFeature
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="" />
    <title>Astro</title>
  </head>
<<<<<<< HEAD
  <body class="bg-darkBlue">
    <header class="py-5 px-5 bg-darkBlue shadow-headerShadow">
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
=======
  <body class="">
       <main>
          <slot/>
       </main>
       
>>>>>>> feature/accordionFeature
  </body>
</html>
